.card{
    background-image: url(../../../Assets/images.jpeg);
    width: 230px;
    height: 280px;
    border-radius: 35px;
    display:flex;
    align-items: end;
    justify-content: center;
}
.detils{
    justify-content: space-around;
    display: flex;
    backdrop-filter:blur(5px) ;
    width: 100%;
    height: 50px;
    border-radius: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-right: 5px;
}
.name{
    width: 70%;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    color: white;
    font-size: 19px;
    border-right-color: wheat;
  border-right-style: solid;

}

.rate{
    color: white;
    margin: 0px;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.rate i {
    padding-left: 5px;
}