h1 {
  padding: 3px;
  border-radius: 10px;
  margin: 10px;
}
h1{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 111px;
  background-color: #D5D5D5;
}
h2{
  border-radius: 10px;
  background-color: #D5D5D5;
  width: 300px;
  height: 40px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.movecontaner {
  padding: 3% 5% 1% 5%;
}
.video img {
  border-radius: 30px;
  width: 465px;
  height: 490px;
}
.movedata {
  display: flex;
  justify-content: space-between;
}
.photo img {
  width: 280px;
  height: 420px;
  border-radius: 25px;
}
.photoo{
  display: block;
}
.movehaed {
  font: 30px bold;
}
.tt {
  align-items: center;
  display: flex;
  direction: rtl;
}
button{
  color: white;
  font: 30px bold ;
  width: 280px;
  height: 66px;
  border: none;
  border-radius: 15px;
  background-color:rgb(0,87,255) ;
  margin-top: 10px;
}
